
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  box-sizing: border-box;
}

*,
*::before, *::after {
  box-sizing: inherit;
}

/* loader styles */

.lds-default,
.lds-default div {
  box-sizing: border-box;
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6.4px;
  height: 6.4px;
  background: #272EA7;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 36.8px;
  left: 66.24px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22.08px;
  left: 62.29579px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11.30421px;
  left: 51.52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7.36px;
  left: 36.8px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11.30421px;
  left: 22.08px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22.08px;
  left: 11.30421px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 36.8px;
  left: 7.36px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 51.52px;
  left: 11.30421px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62.29579px;
  left: 22.08px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66.24px;
  left: 36.8px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62.29579px;
  left: 51.52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 51.52px;
  left: 62.29579px;
}

.loader {
  animation: loader 1s ease-in-out linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.custom-marker {
  position: relative;
  background-color: rgba(39, 46, 167, 0.4);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
 
  border-radius: 50%;
  animation: glow 2s infinite;
}

.floor-map-container{
 perspective: 1000px;
 perspective-origin: 50% 50%;

}

.leaflet-map-pane {
 transform: rotateX(1deg);
  transform-origin: 50% 0%;
  
 
}

.slate-map-container{
  position: relative;
 
  width: 100%;
  border: 1px solid #ddd ;
  box-shadow:0px 0px 10px rgba(0,0,0.1);
  transform: rotateX('10deg');
  transform-origin: 50% 100%;
}
.my-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(39, 46, 167, 0.2);
  width: 200px;
  height: 200px;

  color: white;
 
  border-radius: 50%;
}

 @keyframes glow {

  0% {
    box-shadow:0px 0px 10px rgba(39, 46, 167, 0.4);
  }

  50% {
    box-shadow:0px 0px 10px rgba(39, 46, 167, 1);
  }

  100% {
    box-shadow:0px 0px 10px rgba(39, 46, 167, 0.4);
  }
 }


 .PhoneInputCountryIcon {
  width:20px;
  height: 15;
  
 }

 .PhoneInputInput {
 display: none;
 }

 .PhoneInputCountry {
  display: flex;
width: '200px';
  flex-direction: row-reverse;
justify-content:start;align-items: center;
  
  }

  .PhoneInputCountrySelect {
    width:100%;
    background-color: transparent;
    outline: none;
    }


    .ellipse {
      width: 210px;
      height: 270px;
      
      border-radius: 50%;
    }
    
/* additional css */
.hero_banner {
  background-image: url(./assets/HomeImg/bgWaves.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_bg {
  background: url(./assets/HomeImg/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
  padding-bottom: 10px;
}
 
 

